<div id="mc_embed_signup">
  <form action="https://stu-b-io.us19.list-manage.com/subscribe/post?u=8e6660fb25e9c4437f3e8deb3&amp;id=4807052822" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

  <div class="mc-field-group">
    <label for="mce-EMAIL"></label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="e-mail">
  </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8e6660fb25e9c4437f3e8deb3_4807052822" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
</div>
