@font-face {
  font-family: 'stubio-new-roman'; /*a name to be used later*/
  font-weight: normal;
  src: url('../fonts/StubioNewRoman-Regular.woff'); /*URL to font*/
}

@font-face {
  font-family: 'stubio-new-roman'; /*a name to be used later*/
  font-weight: bold;
  src: url('../fonts/StubioNewRoman-Bold.woff'); /*URL to font*/
}

body, h1, h2, h3, h4, h5, h6,
blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;

}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-variant-ligatures: none;
}

#container {
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #f00;
}

.header {
  p:first-of-type {
    margin-top: 0px;
  }

}

.footer {
  margin-top: 1em;
}

.collection {

  .collection-name {
    font-style: italic;
  }

  .collection-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

      .collection-item {
        width: 160px;
        margin-right: 10px;
        box-sizing: border-box;
        margin-bottom: 1em;
      }

      .collection-item.sold-out {
        opacity: 0.5;
        img {
          filter: grayscale(1);
        }

        &:hover {
          opacity: 1;
          img {
            filter: grayscale(0);
          }
        }
      }
  }
}

.item-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
      width: 500px;
      max-width: 100%;
      margin-right: 10px;
      margin-bottom: 1em;

      .item-description {
        margin-top: 1em;
      }

      a {
        color: #f00;
      }
  }
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: row;
  .mc-field-group {
    margin-right: 10px;
  }
}
